body{
	font-family:Arial,sans-serif;
	text-align:center;
	background:#80400B;
	margin:0;
	padding:20px;
}

h1{
	margin-bottom:20px;
}

.logo {
  width: 300px;        
  height: 150px;       
  object-fit: contain; 
  border-radius: 8px;  
}

.filter-buttons{
	margin-bottom:20px;
}

button{
	padding:10px 15px;
	margin:5px;
	border: none;
	background:#FCAE1E;
	cursor:pointer;
	border-radius:5px;
	transition: background 0.3s, color 0.3s;
}

button.active,
button:hover {
	background:#CC5801;
    color: #yam;
}

	


.gallery{
	display:grid;
	grid-template-columns:repeat(4,1fr);
	gap:10px;
}

.card{
	position: relative;
	background:white;
	border-radius:8px;
	overflow:hidden;
	transition:transform 0.3s;
}

.card img{
	width:100%;
	display:block;
}
.card:hover{
	transform:scale(1.03);
}

.card .overlay{
	position:absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0,6);
	color: #CC5801;
	padding: 10px;
	opacity:0;
	transition: opacity 0.3s;
}

.card:hover .overlay {
    opacity: 1;
}

.card .title {
    margin: 5px 0;
    color: #5a3e2b;
}


@media (max-width:900px) {
	.gallery{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width:width:600px){
	.gallery{
		grid-template-columns:1fr;
	}
}-